*.zip
*.tmp
*.log
*.sql
*.gz
.htaccess
.user.ini
error_log
wordfence-waf.php
wp-config.php
xmlrpc.php

wp-content/uploads/*
wp-content/wflogs/*
wp-content/wp-rocket-config/*
wp-content/languages/*
wp-content/advanced-cache.php
wp-content/cache/*
wp-content/upgrade/*
wp-content/updraft/*
wp-content/smush-webp/*
wp-content/autoptimize_404_handler.php
wordfence/*
conf/*
