.darklogo{ display: none; }
.js-dark .lightlogo{ display: none; }
.js-dark .darklogo{ display: block; }
.js-dark p, .js-dark li, .js-dark span, .js-dark h1, .js-dark h2, .js-dark h3, .js-dark h4, .js-dark h5, .js-dark h6, .js-dark .toggle-menu>li>a { color: rgba(255, 255, 255, 0.90) !important; }
.js-dark .rounded-4 { background: #262A30; }
.js-dark span.badge-custom { background: rgba(255, 255, 255, 0.10);border-color: rgba(255, 255, 255, 0.10);color: #D7DBE4!important; }
.js-dark  p.card-text{ color: #AEB6C9!important; }
.js-dark .darksection,.js-dark .darksection.elementor-element.e-con.e-child{ background: #262A30;color: #AEB6C9; }
.js-dark .darksection .elementor-element{ color: #AEB6C9!important; }
.js-dark .darksection .elementor-element .elementor-button{ background-color: rgba(255, 255, 255, 0.10)!important;border-color: rgba(193, 196, 198, 0.10)!important; }
.js-dark .darksection .elementor-element .feature_dark .elementor-button span { color: #E6BA85 !important; }
.js-dark .darksection .elementor-element.certificate_icon.e-con.e-child .elementor-element{ border-color: rgba(193, 196, 198, 0.10); }
.js-dark  ul.header-right-box li.search_switch svg path, .js-dark  ul.header-right-box li.theme_switch svg path{ fill: #D7DBE4!important; }
.js-dark .header-right-box>li:not(:first-child)>a:hover {
    background-color: rgba(255, 255, 255, 0.10);
}