
@media(min-width: 1601px){
    
}
@media(min-width: 1400px){
    
}
@media(min-width: 1201px){
    
}
@media(min-width: 1025px){
    
}
@media(min-width: 991px){

}
@media(min-width: 768px){
    
}
@media(max-width: 1601px){

}

@media (max-width: 1699px) and (min-width: 992px){
    
}
@media(max-width: 1450px){
    
}
@media(max-width: 1441px){
    
}
@media (max-width: 1441px) and (min-width: 1400px){
    
}
@media (max-width: 1400px) and (min-width: 1200px) {
    
}
@media (max-width: 1400px) and (min-width: 992px){ 
   
}
@media (max-width: 1370px) and (min-width: 1361px){

}

@media(max-width: 1201px) and (min-width: 1024px){
    
}
@media(max-width: 1201px){
    
}
@media (max-width: 1201px) and (min-width: 768px){
 
    
}
@media(max-width: 1025px){
    .date-author-txt p span:first-child { padding-right: 7px; }
    .date-author-txt p small{ padding-left: 15px; }
    .insights-updates-item-text p { margin: 0; }
}
@media(max-width: 1025px) and (min-width: 992px){
    
}
@media(max-width: 992px){
    .insights-updates-item-small-icon>img {
        max-width: 80px !important;
        height: 80px !important;
    }
    .chosse_circle .elementor-icon-box-wrapper{ padding: 20px 0;}
    p#breadcrumbs svg { margin: 0; }
    span.breadcrumb_last{ line-height: 30px; }
    .reversetestimonial.elementor-widget-testimonial-carousel .swiper-slide {
        padding: 20px 20px 40px;
    }
    .elementor-element.leadersslider .swiper .elementor-swiper-button-prev{ left: 0px; }
    .elementor-element.leadersslider .swiper .elementor-swiper-button-next{ right: 0px; }
    
    .detailtbas .elementor-element.heading_tablemenu.elementor-widget-icon-list ul{         
        width: 100%;
        flex-wrap: unset;
        height: 50px;
        padding: 10px 10px 10px 45px; 
        max-width: 400px;
        overflow: scroll;
    }
    .detailtbas .elementor-element.heading_tablemenu.elementor-widget-icon-list ul li{ min-width: 200px;
        width: 200px;
        display: inline-block;
        text-align: left; }
    .comparison-wrapper{ max-width: 400px;overflow: scroll; }
    .comparison-wrapper ul{ max-width: 100%;min-width: 200px; }
    .comparison-wrapper li{ width: 100%; }
    .enterprisebanner ul.elementor-icon-list-items.elementor-inline-items {
        flex-wrap: unset;
        max-width: 400px;
        overflow: scroll;
        justify-content: start;
    }
    .enterprisebanner ul.elementor-icon-list-items.elementor-inline-items li { width: auto; min-width: max-content;}
    .enterprisebanner ul.elementor-icon-list-items.elementor-inline-items li span.elementor-icon-list-text{ font-size: 14px;line-height: 16px; }
    .fixed-header{ top: 103px !important; }
    p#breadcrumbs{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        padding-bottom: 0;
        min-height: unset;
    }
    .accordion_set{ padding: 16px 10px;padding-left: 58px; }
    .accordion_set.acactive{ padding-top: 16px; }
    .ac_header, .btn_demo_box h3{ font-size: 18px; }
    .elementor-element.tab_notic_text p {
        position: relative;
        bottom: 0;
        text-align: center;
        font-weight: bold;
    }
    .elementor-element.tab_notic_text {
        text-align: center;
    }
}

@media(max-width: 992px) and (min-width: 601px){
    
}
@media (max-width: 768px) {

}
@media(max-width: 768px) and (min-width: 600px){
    
}
@media(max-width: 600px){
   
}
@media (max-width: 1500px) and (min-width: 1337px){
}