.lang_switch .wpml-ls-legacy-dropdown-click { width: auto; }
.lang_switch .wpml-ls-legacy-dropdown-click>ul{ padding: 0px;border: 0;border-radius: 100%;background-color: #fff; }
.lang_switch .wpml-ls-legacy-dropdown-click a{ border: 0 !important;padding: 8px;border-radius: 100%;background-color: transparent; }
.lang_switch .wpml-ls-legacy-dropdown-click>a.wpml-ls-item-toggle:hover,.lang_switch .wpml-ls-legacy-dropdown-click a.wpml-ls-link:hover{ background-color: #e6ebf2; }
.lang_switch .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after{ display: none; }
.lang_switch img.wpml-ls-flag { width: 18px!important;height: 18px!important;max-width: 18px;max-height: 18px;border-radius: 100%; }
.lang_switch .wpml-ls-legacy-dropdown-click .wpml-ls-item{ border-radius: 100%; }
.header-right-box > li:first-child{ margin-right: 5px; }
ul.header-right-box{ gap: 10px;}
.lang_switch .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu{ 
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0;
  flex-direction: column;
  border: 0;
  padding: 04px;
  background: #fff;
  width: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 0;
}
.lang_switch .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a{ margin: 0 2px; }


/* RTL CSS */
.rtl,.rtl .wpcf7{ direction: rtl; } 
.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle { padding-right: 8px;padding-left: 8px; }
.rtl ul.header-right-box { padding-right: 40px;padding-left: 0; }
.rtl .header-right-box > li:first-child { margin-right: 0;margin-left: 10px; }
.rtl .toggle-menu-container{ left: unset;right: 0;transform: translateX(100%); }
.rtl .toggle-menu-container.open-menu{ transform: translateX(0%); }
.rtl .rightmenu_statictxt { padding-left: 0;padding-right: 20px; }
.rtl #header-toggle-menu .sub-menu { padding-left: 0;padding-right: 20px; }
.rtl ul.social_media_links > li > a > span{ margin-right: 0;margin-left: 8px; }
.rtl ul#footermenu { padding-right: 0; }
.rtl .footer_bottom span { padding-right: 0;padding-left: 20px; }
.rtl .ms-2 { margin-left: 0px !important;margin-right: 0.5rem !important; }
.rtl .form-control{ text-align: right; }
.rtl .intl-tel-input.allow-dropdown .flag-container, .rtl .intl-tel-input.separate-dial-code .flag-container { right: 0;left: auto; }
.rtl .intl-tel-input.separate-dial-code .selected-dial-code { border-right: 0;border-left: 2px solid rgba(0, 0, 0, 0.05); }
.rtl .intl-tel-input.separate-dial-code .selected-dial-code { padding-left: 0;padding-right: 28px; }
.rtl .career-apply-form .wpcf7-list-item { margin: 0 0 0 15px; }
.rtl .search-popup-input{ padding: 12px 35px 12px 12px; }
.rtl .search-icon { left: 0;right: 25px; }
.rtl ul#header-main-menu li a { padding: 8px 16px 0 0;margin: 0 0 0 16px; }
.rtl .search-popup-footer ul#header-main-menu li>a:before{ left: unset;right: 0; }
.rtl .search-popup-footer{ justify-content: flex-start;gap: 0; }
.rtl .search-popup-footer #header-main-menu { gap: 0; }
.rtl .btn-demo{ width: auto; }
.rtl .search-popup-container{ margin: 0 auto 0 0;border-radius: 0 0 12px 0; }



@media (min-width: 1200px) {
  .rtl .right-footer-menu { padding-left: 0;padding-right: 68px; }
}