.lang_switch .wpml-ls-legacy-dropdown-click { width: auto; }
.lang_switch .wpml-ls-legacy-dropdown-click>ul{ padding: 0px;border: 0;border-radius: 100%;background-color: #fff; }
.lang_switch .wpml-ls-legacy-dropdown-click a{ border: 0 !important;padding: 8px;border-radius: 100%;background-color: transparent; }
.lang_switch .wpml-ls-legacy-dropdown-click>a.wpml-ls-item-toggle:hover,.lang_switch .wpml-ls-legacy-dropdown-click a.wpml-ls-link:hover{ background-color: #e6ebf2; }
.lang_switch .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after{ display: none; }
.lang_switch img.wpml-ls-flag { width: 18px!important;height: 18px!important;max-width: 18px;max-height: 18px;border-radius: 100%; }
.lang_switch .wpml-ls-legacy-dropdown-click .wpml-ls-item{ border-radius: 100%; }
.header-right-box > li:first-child{ margin-right: 5px; }
ul.header-right-box{ gap: 10px;}
.lang_switch .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu{ 
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0;
  flex-direction: column;
  border: 0;
  padding: 04px;
  background: #fff;
  width: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 0;
}
.lang_switch .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a{ margin: 0 2px; }